<div class="text-center">
	<form method="get" action="/Scan/GetResult">
		<input name="url" value=""/>
		<input type="number" name="depth" value="0"/>
		<input type="submit" value="Искать"/>
	</form>
</div>
